.topBar {
    font-size:'14px';
    background-color: black;
    height: 30px;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    text-align: left;
    font-weight: 600;
    
}

.topBar a{
    color: ivory;
    text-decoration:none;
    padding-left: 25px;
}